.tree-node {
    display: flex;
    flex-direction: column;
    row-gap: 14px;

    &__inner {
        display: flex;
        align-items: center;
        transition: background-color 0.2s;
        cursor: pointer;
        padding: 6px 6px 6px 0;
        user-select: none;

        &:hover {
            background-color: #EDECED;
        }
    }

    &__avatar, &__custom-avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 15px;
    }

    &__custom-avatar {
        border: 2px solid #E9E7E9;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: #6B6A6B;
        font-weight: bold;
        font-size: 16px;
    }

    &__description {
        margin-top: 5px;
        font-size: 12px;
        color: #919091;
    }

    &__right-panel {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    &__loading {
        margin-right: 12px;
    }

    &__arrow {
        &--open {
            transform: rotate(180deg);
        }
    }
}